body{
    background-color: #fec5e5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
  }
  
  @keyframes beat {
    0% {
      transform: scale(1)
      translateY(100px);
    }
    50% {
      transform: scale(1.5)
      translateY(-400px);
    }
    100%{
      transform: scale(1) 
      translateY(100px);
    }
  }
  
  
  .heart {
      position: relative;
      width: 125px;
      height: 90px;
      animation: beat 8s infinite;
    }
    
    .heart:before,
    .heart:after {
      position: absolute;
      content: "";
      left: 80px;
      top: 0;
      width: 80px;
      height: 125px;
      background-color: red;
      border-radius: 100px 100px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    
    .heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }